
<%- include('layouts/head') %>
  <body style="background-image: unset">  
    <main class="main-container">
      <%- include('layouts/main-section') %>
      <div class="bg-blur"></div>
      <%- include('layouts/aside') %>
    </main>    
    <div class="wrapper">
      <form hidden action="/" method="post">
        <input id="current-lat" name="currentlat" type="hidden">
        <input id="current-lon" name="currentlon" type="hidden">
        <button id="current-weather" type="hidden"></button>
      </form>
    </div>
    <script type="module">
      import {loadingAnimation} from "/script/loading.js"
      
      loadingAnimation()
      
const currentBtn = document.getElementById("current-weather");
const currentLat = document.getElementById("current-lat");
const currentLon = document.getElementById("current-lon");
currentLat.value = "51.5073219";
currentLon.value = "-0.1276474";
currentBtn.click();
    </script>
  </body>
</html>