@use "../abstracts/" as *;

.loading {
  position: absolute;
  inset: 0;
  animation: popupLoading 2s;
  background-color: $loading-background-color;

  &::before {
    content: "";
    position: absolute;
    inset-block: 0;
    left: 0;
    width: 100%;
    background-color: $loading-color;
    animation: loading 2s ease-in-out infinite;
  }
}
