<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="weather web app, to find out weather in the world, including at your location" />
    
    <!-- Font Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <!-- Favicon -->
    <link rel="icon" sizes="64x64" href="/img/icons/logo.svg" type="image/png">
    <!-- Css -->
    <link rel="stylesheet" href="/css/main.css" />
    <title>Weather Web</title>
  </head>